flask
flask_cors
numpy
pymongo
pandas
plotly
numpy
pytz
requests
datetime
yandex_music
librosa
sentencepiece
unidecode
emoji
librosa
statsmodels
joblib
keras
tensorflow
beautifulsoup4

#pytorch==1.0.1
#torchvision==0.2.2