numpy==1.19.2
six==1.15.0
certifi==2020.12.5
idna==2.10
requests==2.25.1
urllib3==1.26.3
flask
flask_cors
pymongo
pandas
plotly
pytz
datetime
yandex_music
librosa
sentencepiece
unidecode
emoji
librosa
statsmodels
joblib
keras
tensorflow
beautifulsoup4
Flask-APScheduler


#pytorch==1.0.1
#torchvision==0.2.2