@font-face {
	font-family: rub-arial-regular;
	src: local("rub-arial-regular");
	src: url(//yastatic.net/islands/_/sIJpt2WHDXpNt0Pyuj-a0ZnY-h8.woff), url(//yastatic.net/islands/_/iOX23Z1CHz6YYv5o-NPNJCMNEco.ttf)
}

@font-face {
	font-family: YS Text;
	font-weight: 300;
	font-style: normal;
	src: url(https://yastat.net/s3/plus/landing/fonts/YS_Text-Light.woff2) format("woff2"), url(https://yastat.net/s3/plus/landing/fonts/YS_Text-Light.woff) format("woff")
}

@font-face {
	font-family: YS Text;
	font-weight: 400;
	font-style: normal;
	src: url(//yastatic.net/islands/_/PyVcRbwHetz0gOVWLonWH7Od8zM.woff2) format("woff2"), url(//yastatic.net/islands/_/bIx8jOfCEfR-mECoDUEZywDBuHA.woff) format("woff")
}

@font-face {
	font-family: YS Text;
	font-weight: 500;
	font-style: normal;
	src: url(//yastatic.net/islands/_/7_GKBdKFbUPzKlghJRv55xgz0FQ.woff2) format("woff2"), url(//yastatic.net/islands/_/SmqPmIMEXrW4lOY8QrhTUVDbrro.woff) format("woff")
}

@font-face {
	font-family: YS Text;
	font-weight: 700;
	font-style: normal;
	src: url(//yastatic.net/islands/_/6Roy0LCd05cK4nNCipgzheYcNVU.woff2) format("woff2"), url(//yastatic.net/islands/_/KtHQR1erf3spayoIM4M4ngg0e2E.woff) format("woff")
}

@font-face {
	font-family: YS Display;
	font-weight: 300;
	font-style: normal;
	src: url(https://yastat.net/s3/plus/landing/fonts/YS_Display-Light.woff2) format("woff2"), url(https://yastat.net/s3/plus/landing/fonts/YS_Display-Light.woff) format("woff")
}

@font-face {
	font-family: YS Display;
	font-weight: 400;
	font-style: normal;
	src: url(https://yastat.net/s3/plus/landing/fonts/YS_Display-Regular.woff2) format("woff2"), url(https://yastat.net/s3/plus/landing/fonts/YS_Display-Regular.woff) format("woff")
}

@font-face {
	font-family: YS Display;
	font-weight: 500;
	font-style: normal;
	src: url(https://yastat.net/s3/plus/landing/fonts/YS_Display-Medium.woff2) format("woff2"), url(https://yastat.net/s3/plus/landing/fonts/YS_Display-Medium.woff) format("woff")
}

@font-face {
	font-family: YS Display;
	font-weight: 700;
	font-style: normal;
	src: url(https://yastat.net/s3/plus/landing/fonts/YS_Display-Bold.woff2) format("woff2"), url(https://yastat.net/s3/plus/landing/fonts/YS_Display-Bold.woff) format("woff")
}

@font-face {
	font-family: YS Display;
	font-weight: 800;
	font-style: normal;
	src: url(https://yastat.net/s3/plus/landing/fonts/YS_Display-Heavy.woff2) format("woff2"), url(https://yastat.net/s3/plus/landing/fonts/YS_Display-Heavy.woff) format("woff")
}

@font-face {
	font-family: "Yandex Serif Display";
	font-weight: 400;
	font-style: normal;
	src: url(https://yastat.net/s3/plus/landing/fonts/YandexSerifDisplay-Regular.woff2) format("woff2"), url(https://yastat.net/s3/plus/landing/fonts/YandexSerifDisplay-Regular.woff) format("woff")
}

@font-face {
	font-family: "Yandex Serif Display";
	font-weight: 700;
	font-style: normal;
	src: url(https://yastat.net/s3/plus/landing/fonts/YandexSerifDisplay-Black.woff2) format("woff2"), url(https://yastat.net/s3/plus/landing/fonts/YandexSerifDisplay-Black.woff) format("woff")
}

@font-face {
	font-family: YS Logotype;
	font-weight: 300;
	font-style: normal;
	src: url(https://yastat.net/s3/plus/landing/fonts/YS_Logotype-Light.woff2) format("woff2"), url(https://yastat.net/s3/plus/landing/fonts/YS_Logotype-Light.woff) format("woff")
}

html {
    font-family: YS Text,Arial,sans-serif;
    background: #292E43;
    padding: 0px;
}
body {
    max-width: 100%;
    background: #292E43;
    margin:0
}
h1 {
    font-family: YS Text,Arial,sans-serif;
    color: #FFFFFF;
    margin: 1rem 0;
    }
h2 {
    font-family: YS Text,Arial,sans-serif;
    color: #FFFFFF;
    margin: 1rem 0;
    font-size: large;
    }
a {
    color: #FFFFFF;
    }
hr {
    border: none; border-top: 1px solid lightgray;
    }
nav {
    background: #333B59;
    display: flex;
    align-items: center;
    height: 70px;
    margin-bottom: 10px;
    width:100%;
    justify-content: space-between;

 }
nav h1 {
    flex: auto;
    margin: 0;
    color: #FFFFFF;
    font-family: YS Logotype
   }
nav h1 a {
    text-decoration: none;
    color: #FFFFFF
    padding: 0.25rem 0.5rem;
    }
nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li a, nav ul li span, header .action {
    display: block;
    padding: 0.5rem;
    color: #FFFFFF;
 }

 form {
    text-align: center;
 }

.content {
    padding: 0 1rem 1rem;
    max-width: 1280px;
    min-width: 300px;
    margin: 0 auto;
    background: #292E43;
    color: #FFFFFF
   }
.content > header {
    /* border-bottom: 1px solid #333B59; */
    display: flex;
    align-items: flex-end;
 }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; color: #FFFFFF}
.flash {
    margin: 1em 0;
    color: #FFFFFF;
    padding: 1em;
    background: #FFCA2D;
    border-radius: 10px;
 }
.post > header {
    display: flex;
    align-items:
    flex-end; font-size: 0.85em;
}
.post > header > div:first-of-type {
    flex: auto;
   }
.post > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
   }
.post .about {
    color: slategray;
    font-style: italic;
   }
.post .body {
    white-space: pre-line;
   }
.content:last-child {
    margin-bottom: 0;
   }
.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
   }
.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
   }
.content input, .content textarea {
    margin-bottom: 1em;
   }
.content textarea {
    min-height: 12em;
    resize: vertical;
   }
input.danger {
    color: #cc2f2e;
    }
input[type=submit] {
    align-self: start;
    min-width: 10em;
   }

.glow-on-hover {
    width: 250px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background:#1bd760;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #FF6F76,#FFCA2D,#6DCE8A,#8D92A5,#97F3FD,#FDB5B5,#D076FF,#52A3FD);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#1bd760;
    left: 0;
    top: 0;
    border-radius: 20px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.chart, .plot-container {
    border-radius: 20px;
}

svg {
border-radius: 20px;
}

.main-cont {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    margin-top:60px;
    background: #333B59;
    padding: 3%;
    border-radius: 20px;
}

.cont-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: fit-content;
}

.chart-60 {
    display: inline-block;
    min-width: 300px;
    width: 60%;
    border-radius: 20px;
    background: #292E43;
}

.chart-30 {
    min-width: 200px;
    width: 27%;
    border-radius: 20px;
    background: #292E43;
    display: flex;
    border-radius: 20px;
    background: #292E43;
    padding: 20px;
    flex-direction: column;
}


.tip-text {
    margin: 20px;
    line-height: 1.3rem;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

@media screen and (max-width: 1020px) {
    .cont-row {

        flex-direction: row;
        height: fit-content;
    }
    .chart-60 {
        min-width: 300px;
        margin-top: 20px;
        width: 60%;
        border-radius: 20px;
        background: #292E43;
        padding: 10px;
    }
    .chart-30 {
    min-width: 245px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 30%;
    border-radius: 20px;
    background: #292E43;
    padding: 10px;
    flex-direction: column;
    }
}

.chart-100 {
    margin-top: 50px;
    border-radius: 20px;
    background: #292E43;
    padding: 10px;
    height: 25em;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}
.dot-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px
}
