<!doctype html>
<head>
  {% block head %}
  {% endblock %}
</head>
<title>{% block title %}{% endblock %} - Яндекс.Настроение</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Яндекс.Настроение</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }} {{ g.user['access_token'] }}</span>
      <li><a href="{{ url_for('logout') }}">Выйти</a>
    {% else %}
      <li><a href="{{ url_for('main_page') }}">Войти</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>