<!doctype html>
<head>
  {% block head %}
  {% endblock %}
</head>
<title>{% block title %}{% endblock %} - Ловим Настроение</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
<!--  <h1>Яндекс.Настроение</h1>-->
  <img src="{{ url_for('static', filename='logo2.svg') }}" width="260px" style="margin-left: 3%"/>
  <ul style="margin-right: 3%">
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('logout') }}">Выйти</a>
    {% else %}
      <li><a href="{{ url_for('main_page') }}">Войти</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>