{% extends 'base.html' %}
{% block head %}
    <script src="https://cdn.plot.ly/plotly-2.3.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
      console.log('{{ g.user['access_token'] }}');
      $( document ).ready(function() {
        console.log("keke")
        var pie_graphs = {{pieJSON | safe}};
        var bar_graphs = {{barJSON | safe}};
        var line_graphs = {{lineJSON | safe}};
        pie_graphs.config={responsive: true};
        bar_graphs.config={responsive: true};
        line_graphs.config={responsive: true};

        Plotly.newPlot("line-chart",line_graphs);
        Plotly.newPlot("pie-chart",pie_graphs);
        Plotly.newPlot("hist-chart",bar_graphs);

      });
     </script>
{% endblock %}
{% block title %} MoodMap {% endblock %}
{% block header %}
{% endblock %}

{% block content %}

<div class="main-cont">
    <h1>Статистика</h1>
    <div class="cont-row">
        <div id="tip" class="chart-30">
            <div class="tip-text">
                Привет, это Яндекс.Настроение!
                <br>
                Здесь ты можешь познакомиться с инсайтами твоего настроения,
                которые были открыты нашим очень эмпатичным ИИ на основе того,
                что ты слушаешь в Яндекс.Музыке.
                <br>
                Графики показывают соотношение настроений музыки, которую ты слушаешь.
                <br>
                Каждой эмоции соответствует свой цвет, чтобы разобраться изучи легенду у графиков.
            </div>

        </div>
        <div id="pie-chart" class="chart-60"></div>
    </div>
    <h2>Ведущее настроение дня</h2>
    <div id="line-chart" class="chart-100"></div>
    <h2>Соотношение по дням</h2>
    <div id="hist-chart" class="chart-100"></div>
</div>
{% endblock %}