{% extends 'base.html' %}
{% block head %}
    <script src="https://cdn.plot.ly/plotly-2.3.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
    <script>
      console.log("{{ g.user['access_token'] }}");
      $( document ).ready(function() {

      let width, height, gradient;

        function getKeyByValue(object, value) {
          return Object.keys(object).find(key => object[key] === value);
        }

        function getGradient(ctx, chartArea) {
          const chartWidth = chartArea.right - chartArea.left;
          const chartHeight = chartArea.bottom - chartArea.top;
          const gradient_vals = {{gradient_set | safe}};
          if (gradient === null || width !== chartWidth || height !== chartHeight) {
            width = chartWidth;
            height = chartHeight;
            gradient = ctx.createLinearGradient(0, chartArea.bottom, 0, chartArea.top);
            for(var i = 0; i < gradient_vals.length; i++) {
                gradient.addColorStop(gradient_vals[i][0],gradient_vals[i][1])
            }
          }

          return gradient;
        };

        function getGradientReply(ctx, chartArea) {
          const chartWidth = chartArea.right - chartArea.left;
          const chartHeight = chartArea.bottom - chartArea.top;
          const gradient_vals = {{gradient_set_reply | safe}};
          if (gradient === null || width !== chartWidth || height !== chartHeight) {
            width = chartWidth;
            height = chartHeight;
            gradient = ctx.createLinearGradient(0, chartArea.bottom, 0, chartArea.top);
            for(var i = 0; i < gradient_vals.length; i++) {
                gradient.addColorStop(gradient_vals[i][0],gradient_vals[i][1])
            }
          }

          return gradient;
        };

        var bar_ful = {{bar_cfg | safe }};
        var line_ful = {{line_cfg | safe}};
        var pie_ful = {{pie_cfg | safe}};
        var line_ful_reply = {{line_cfg_reply | safe}};

        console.log(line_ful.data.datasets)
        line_ful.data.datasets[0]['borderColor'] = function(context) {
            const chart = context.chart;
            const {ctx, chartArea} = chart;
            if (!chartArea) {
              // This case happens on initial chart load
              return null;
            }
            return getGradient(ctx, chartArea);
      };

       line_ful_reply.data.datasets[0]['borderColor'] = function(context) {
            const chart = context.chart;
            const {ctx, chartArea} = chart;
            if (!chartArea) {
              // This case happens on initial chart load
              return null;
            }
            return getGradientReply(ctx, chartArea);
      };


        line_ful.options.plugins.tooltip['callbacks'] = {
                  title: function(tooltipItem) {
                    var v_map = {
                            'Ярость': -3,
                            'Страх': -2,
                            'Неприязнь': -1,
                            'Грусть': 0,
                            'Спокойствие': 1,
                            'Удивление': 2,
                            'Восторг': 3,
                            'Веселье': 4
                    };
                    return 'Настроение дня:\n' + getKeyByValue(v_map,tooltipItem[0].dataset.data[tooltipItem[0].dataIndex]);
                },
                label: function() {}
              };

              line_ful_reply.options.plugins.tooltip['callbacks'] = {
                  title: function(tooltipItem) {
                    var v_map = {
                        'mood_terrible': -2,
                        'mood_bad': -1,
                        'mood_ok': 0,
                        'mood_good': 1,
                        'mood_excellent': 2,
                    };
                    return 'Настроение дня:\n' + getKeyByValue(v_map,tooltipItem[0].dataset.data[tooltipItem[0].dataIndex]);
                },
                label: function() {}
              };




        var ctx_bar = document.getElementById('barChart').getContext('2d');
        var bar_chart = new Chart(ctx_bar, bar_ful);

        var ctx_line = document.getElementById('lineChart').getContext('2d');
        var line_chart = new Chart(ctx_line, line_ful);

        var ctx_line_reply = document.getElementById('lineChartReply').getContext('2d');
        var line_chart_reply = new Chart(ctx_line_reply, line_ful_reply);

        var ctx_pie = document.getElementById('pieChart').getContext('2d');
        var pie_chart = new Chart(ctx_pie, pie_ful);

      });
    </script>
{% endblock %}
{% block title %} Stats {% endblock %}
{% block header %}
{% endblock %}

{% block content %}

<div class="container-fluid main">
  <div class="row">
    <div class="col-sm-12 heading">
      <h1>Summary</h1>
    </div>
    <div class="col-sm-4 p-3">
      <div class="subcard p-2">
        <h2>Mood over period</h2>
        <div class='mx-auto' style="width: 90%; height: 90%">
          <canvas id="pieChart"></canvas>
        </div>
        
      </div>
    </div>
    <div class="col-sm-4 p-3">
      <div class="subcard p-2">
        <h2>Unique Mood Print</h2>
        <img class="mx-auto d-block" src="{{ url_for('static', filename='mood-pic.svg') }}" style="width: 90%;" /> 
      </div>
      
    </div>
    <div class="col-sm-4 p-3">
      <div class="subcard p-2">
        <h2>Mood rank</h2>
        {% for vl in legend_list %}
          <div class="dot-div"><span class="dot" style="background-color:{{vl[2]}};"></span>{{vl[0]}}</div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>

<div class="container-fluid main">
  <div class="row">
    <div class="col-sm-12 heading">
      <h1>Mude Flow</h1>
    </div>

    <div class="col-sm-12 p-3">
      <div class="subcard p-2">
        <div><canvas id="lineChart"></canvas></div>
      </div>
    </div>

    <div class="col-sm-12 p-3">
      <div class="subcard p-2">
        <div><canvas id="lineChartReply"></canvas></div>
      </div>
    </div>

    <div class="col-sm-12 p-3">
      <div class="subcard p-2">
        <div><canvas id="barChart"></canvas></div>
      </div>
    </div>


    
  </div>
</div>
{% endblock %}